@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-image: url('https://images.pexels.com/photos/1028600/pexels-photo-1028600.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background: linear-gradient(200deg, #20eaf9, #de1781);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mulish', sans-serif;
}

.App {
    width: 150%;
    max-width: 1000px;
    background: rgba(22, 22, 22, 0.05);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 7px 20px 5px #00000088;
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #fdfafa;
    margin: 10px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 150px;
    transition: 0.8s all;
    height: 500px;
}



  .App:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.02);
    filter: brightness(1.1);
    transition: 0.8s all;
  }


@media screen and (max-width: 600px) {
    .App {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        right: 0px;
        height: 100%;
    }
  }

.area {
    /* background-color: rgb(241, 149, 28); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

/* .container {
    position: relative;
    height: auto;
    width: 10%;
    font-weight: bold;
    background-color: green;
} */

.headerContainer {
    display: flex;
    background-color: transparent;
    flex-direction: column;
}

.day {
    padding-top: 5px;
    font-size: 25px;
    font-weight: bold;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 5px;
}

.temp p{
    font-size: 40px;
}

.temp h1 {
    font-size: 20px;
}
.maxmin {
    display: flex;
    width: auto;
    justify-content: space-between;
    padding: 0px;
    align-items: center;
}

.max, .min {
    display: flex;
    padding-bottom: 5px;
    font-weight: bold;
}

#size {
    font-size: 25px;
}


.maximum  {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.minimum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.humpre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    font-weight: bold;
}

#size1 {
    font-size: 15px;
}

.hum, .pre {
    display: flex;
    align-items: center;
}

#humicon  {
    width: 40px;
    height: 40px;
}

#presicon {
    width: 40px;
    height: 40px;
}

.humidity, .pressure  {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.windDetails {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    margin-top: 5px;
}

.direction, .speed {
    display: flex;
    justify-content: space-between;
}

#direicon, #speedicon {
    width: 40px;
    height: 40px;
}

.winddire, .windspeed  {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


#input {
    outline: none;
    border-right: 4px solid rgba(3, 3, 3, 0.5);
    border-bottom: 4px solid rgba(10, 10, 10, 0.5);
    border-radius: 10px;
    padding: 5px;
    color: rgb(248, 245, 245);
    font-weight: bold;
    height: 50px;
}

#input:hover {
    background: transparent;
}

#input::placeholder {
    color: rgb(249, 246, 246);
    font-weight: bold;
}

.bg1 {
    position: absolute;
    /* height: 100%; */
    left: 0;
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    object-fit: contain;
}


.container {
    position: relative;
    overflow: hidden;
    height: auto;
}

.appContainer {
    position: relative;
    height: auto;
}